<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >
    <title>Dashboard | UAP</title>
</head>

<body>
    <h1>Welcome!</h1>

    <p>
        Registration ID: {{ request.user.username }}
    </p>

    {% if request.user.is_staff %}
        <p>Account type: Admin / Staff</p>

        <a href="{% url 'admin:index' %}">
            Open Admin Panel
        </a>
    {% else %}
        <p>Account type: Student</p>
    {% endif %}

    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}

        <button type="submit">
            Logout
        </button>
    </form>
</body>
</html>